body {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

h1 {
  font-weight: bolder;
  font-size: 40 px;
  letter-spacing: 2 px;
  margin-bottom: 50px
}

.inputs {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px
  margin- bottom: 50px

}
input {
  width: 250%;
   padding: 12px 20px;
   margin: 8px 0;
   box-sizing: border-box;
   border-style: double;
}


button{
  box-sizing: border-box;
  border-style: border
}
